NodeRed/2019-10-05-backup.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1671
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab560
\pard\pardeftab560\slleading20\partightenfactor0

\f0\fs24 \cf0 [\{"id":"7994f3f8.163054","type":"tab","label":"Sensores","disabled":false,"info":""\},\{"id":"41217594.cb53cc","type":"tab","label":"Iluminaci\'f3n","disabled":false,"info":""\},\{"id":"ceef9e3c.389be","type":"tab","label":"Control de acceso","disabled":false,"info":""\},\{"id":"f2ca2f9.9239ed","type":"tab","label":"Lectura de sensores","disabled":false,"info":""\},\{"id":"3d07ac73.25b96c","type":"tab","label":"Sensores para alarma","disabled":false,"info":""\},\{"id":"1863c5de.404e9a","type":"tab","label":"Control de alarma","disabled":false,"info":""\},\{"id":"5c562acb.3b76c4","type":"tab","label":"Estado de conexi\'f3n de m\'f3dulos","disabled":false,"info":""\},\{"id":"7cd18863.2799a8","type":"tab","label":"Lista de IP","disabled":false,"info":""\},\{"id":"209e682b.6f7b5","type":"mqtt-broker","z":"","name":"Sensor","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""\},\{"id":"2af05930.c47cc6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""\},\{"id":"608db58.402decc","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""\},\{"id":"64b4efc.3b6199","type":"ui_tab","z":"","name":"Acceso","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"b3e08dde.dc4cc","type":"ui_group","z":"","name":"Control de acceso","tab":"64b4efc.3b6199","disp":false,"width":"6","collapse":false\},\{"id":"cadd57ac.1c65a8","type":"ui_group","z":"","name":"Monitoreo","tab":"8b4d64d9.91373","disp":true,"width":"6","collapse":false\},\{"id":"8b4d64d9.91373","type":"ui_tab","z":"","name":"Sensores","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"dd3022ea.1f0a28","type":"ui_group","z":"","name":"Ambientales","tab":"8b4d64d9.91373","disp":true,"width":"6","collapse":false\},\{"id":"d6d614cb.7f1c","type":"ui_tab","z":"","name":"Iluminaci\'f3n","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"2d45f14a.0ee2ee","type":"ui_group","z":"","name":"Escalera","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"d28b0a60.e77b3","type":"ui_group","z":"","name":"Sala","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"826e54f8.8ec2","type":"ui_group","z":"","name":"Ba\'f1o","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"a2b30886.6a6608","type":"ui_group","z":"","name":"Cuarto de \'c1ngeles","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"6f0555dd.2f631c","type":"ui_group","z":"","name":"Cuarto de Montserrat","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"c19d33a8.6c5fb8","type":"ui_group","z":"","name":"Patio","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"ebe8c94a.2fbb78","type":"ui_group","z":"","name":"Cocina","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"4fb15d50.d2783c","type":"ui_group","z":"","name":"Alarma","tab":"96af00f2.0efc","disp":false,"width":"6","collapse":false\},\{"id":"96af00f2.0efc","type":"ui_tab","z":"","name":"Alarma","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"f1450152.1069e","type":"ui_tab","z":"","name":"Configuraci\'f3n","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"dc81969a.f478c","type":"ui_group","z":"","name":"Cambio de contrase\'f1a","tab":"f1450152.1069e","disp":true,"width":"6","collapse":false\},\{"id":"f8995778.50fcb","type":"alexa-home-conf","z":"","username":"klavierema"\},\{"id":"ccc89d80.33d828","type":"mqtt-broker","z":"","name":"Sensor","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""\},\{"id":"40a31c32.169fac","type":"ui_group","z":"","name":"Sala","tab":"5c4d6320.88df8c","disp":true,"width":"6","collapse":false\},\{"id":"7ee3cfbf.371a8","type":"ui_group","z":"","name":"Directorio IP","tab":"fdf7f7f1.354518","disp":true,"width":"6","collapse":false\},\{"id":"5c4d6320.88df8c","type":"ui_tab","z":"","name":"M\'f3dulos","icon":"dashboard","disabled":false,"hidden":false\},\{"id":"fdf7f7f1.354518","type":"ui_tab","z":"","name":"Servicio","icon":"dashboard","disabled":false,"hidden":true\},\{"id":"546289e.302a478","type":"sqlitedb","z":"1863c5de.404e9a","db":"/Usuarios/klavierema/Documents/DB/logs","mode":"RWC"\},\{"id":"39a9d0b4.f872e","type":"dropbox-config","z":"","name":"CasaEmanuel"\},\{"id":"fa6aef35.c99dc8","type":"ui_group","z":"","name":"Cocina","tab":"5c4d6320.88df8c","disp":true,"width":"6","collapse":false\},\{"id":"da11b9d.a4600c8","type":"mqtt-broker","z":"","name":"CasaIP","broker":"192.168.10.110","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""\},\{"id":"210502c9.63d50e","type":"ui_group","z":"","name":"Acceso principal","tab":"5c4d6320.88df8c","disp":true,"width":"6","collapse":false\},\{"id":"9b789ddc.36ed4","type":"ui_base","theme":\{"name":"theme-light","lightTheme":\{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false\},"darkTheme":\{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false\},"customTheme":\{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"\},"themeState":\{"base-color":\{"default":"#0094CE","value":"#0094CE","edited":false\},"page-titlebar-backgroundColor":\{"value":"#0094CE","edited":false\},"page-backgroundColor":\{"value":"#fafafa","edited":false\},"page-sidebar-backgroundColor":\{"value":"#ffffff","edited":false\},"group-textColor":\{"value":"#1bbfff","edited":false\},"group-borderColor":\{"value":"#ffffff","edited":false\},"group-backgroundColor":\{"value":"#ffffff","edited":false\},"widget-textColor":\{"value":"#111111","edited":false\},"widget-backgroundColor":\{"value":"#0094ce","edited":false\},"widget-borderColor":\{"value":"#ffffff","edited":false\},"base-font":\{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"\}\},"angularTheme":\{"primary":"indigo","accents":"blue","warn":"red","background":"grey"\}\},"site":\{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":\{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0\}\}\},\{"id":"45abed4d.0d6484","type":"ui_group","z":"","name":"Pasillo","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"e33939b.57a6748","type":"ui_group","z":"","name":"Cuarto de Emanuel","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"c123c79d.efea78","type":"ui_group","z":"","name":"Balc\'f3n","tab":"d6d614cb.7f1c","disp":true,"width":"6","collapse":false\},\{"id":"502b0fb.898d17","type":"homekit-accessory","z":"","accessoryName":"Casa","pinCode":"111-11-121","port":"","manufacturer":"Emanuel Mart\'edn","model":"1","serialNo":"1","accessoryType":"1"\},\{"id":"dec574fe.bab8f","type":"ui_group","z":"","name":"Llaveros RFID","tab":"f1450152.1069e","disp":true,"width":"6","collapse":false\},\{"id":"3b3efe0e.753a82","type":"homekit-accessory","z":"","accessoryName":"Timbre","pinCode":"111-11-112","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"\},\{"id":"4c8d56cc.e56a08","type":"pushbullet-config","z":"","name":"Emanuel"\},\{"id":"efcf4b21.453fb","type":"switch","z":"3d07ac73.25b96c","name":"","property":"sensor","propertyType":"msg","rules":[\{"t":"eq","v":"puertaPrincipal","vt":"str"\},\{"t":"eq","v":"movInterno","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["69f1784e.b84bb8"],["806d5cfe.dbe75"]]\},\{"id":"e9d37cfd.777ed","type":"inject","z":"3d07ac73.25b96c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["211dfe67.4d9d4a"]]\},\{"id":"211dfe67.4d9d4a","type":"function","z":"3d07ac73.25b96c","name":"","func":"var ant = global.get(\\"notificacion\\")||0;;\\n\\nalarma = global.get(\\"alarmaFuera\\");\\npuertaPrincipal = global.get(\\"puertaPrincipal\\");\\nmovInterno = global.get(\\"movInterno\\");\\n\\nmsg.alarmaFuera = alarma\\nmsg.puertaprincipal = puertaPrincipal;\\nmsg.ventanacocina = movInterno;\\n\\nif(puertaPrincipal+alarma == 2)\{\\n    msg.sensor = \\"puertaPrincipal\\";\}\\nelse if (movInterno+alarma == 2)\{\\n    msg.sensor = \\"movInterno\\";\}\\nelse \{\\n    msg.sensor = 0\\n\}\\nmsg.parts1 = msg.sensor;\\n\\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":220,"wires":[["efcf4b21.453fb","827cba8b.be5738"]]\},\{"id":"69f1784e.b84bb8","type":"change","z":"3d07ac73.25b96c","name":"Puerta principal","rules":[\{"t":"set","p":"payload","pt":"msg","to":"\'a1Puerta principal abierta!","tot":"str"\},\{"t":"set","p":"delete","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["83c96dc.6ea499","3efa05b0.553072"]]\},\{"id":"3c040c52.9941c4","type":"comment","z":"3d07ac73.25b96c","name":"Estado de sensores de alarma de estar fuera","info":"Analiza el estado de la alarma completa\\ny la dispara de acuerdo al sensor activado.","x":210,"y":40,"wires":[]\},\{"id":"830fec34.82dbc","type":"comment","z":"3d07ac73.25b96c","name":"Estado de sensores de alarma de noche","info":"Analiza el estado de la alarma de movimiento\\ny la dispara de acuerdo al sensor activado.","x":200,"y":280,"wires":[]\},\{"id":"6f461e0e.b59c18","type":"switch","z":"3d07ac73.25b96c","name":"","property":"sensor","propertyType":"msg","rules":[\{"t":"eq","v":"movInterno","vt":"str"\}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":400,"wires":[["6073182b.e60cd"]]\},\{"id":"d52ed17.722b43","type":"inject","z":"3d07ac73.25b96c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["a7789e2f.c43e4"]]\},\{"id":"a7789e2f.c43e4","type":"function","z":"3d07ac73.25b96c","name":"","func":"movInterno = global.get(\\"movInterno\\") || 0;\\nalarma = global.get(\\"alarmaNoche\\");\\n\\nmsg.movInterno = movInterno;\\nmsg.alarmaNoche = alarma;\\n\\nif(movInterno+alarma == 2)\{\\n    msg.sensor = \\"movInterno\\";\}\\nelse \{\\n    msg.sensor = 0\\n\}\\nmsg.parts2 = msg.sensor;\\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":400,"wires":[["6f461e0e.b59c18","8bec6063.36d8c8"]]\},\{"id":"4e4df5ed.e6d3cc","type":"switch","z":"3d07ac73.25b96c","name":"","property":"sensor","propertyType":"msg","rules":[\{"t":"eq","v":"puertaPrincipal","vt":"str"\}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":580,"wires":[["c48def11.e52648"]]\},\{"id":"9079c5c3.6f17d8","type":"inject","z":"3d07ac73.25b96c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["4bb53924.ad289"]]\},\{"id":"4bb53924.ad289","type":"function","z":"3d07ac73.25b96c","name":"","func":"alarma = global.get(\\"alarmaCasa\\");\\npuertaPrincipal = global.get(\\"puertaPrincipal\\");\\n\\n\\nmsg.alarmaCasa = alarma\\nmsg.puertaPrincipal = puertaPrincipal;\\n\\nif (puertaPrincipal+alarma == 2)\{\\n    msg.sensor = \\"puertaPrincipal\\";\}\\nelse \{\\n    msg.sensor = 0\\n\}\\nmsg.parts3 = msg.sensor;\\n\\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":580,"wires":[["4e4df5ed.e6d3cc","e05c359f.c7634"]]\},\{"id":"c48def11.e52648","type":"change","z":"3d07ac73.25b96c","name":"Puerta principal","rules":[\{"t":"set","p":"payload","pt":"msg","to":"\'a1Puerta principal abierta!","tot":"str"\},\{"t":"set","p":"delete","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["83c96dc.6ea499","a38e121d.b43d48"]]\},\{"id":"df3583ee.b81a18","type":"comment","z":"3d07ac73.25b96c","name":"Estado de sensores de alarma de estar en casa","info":"Analiza el estado de la alarma de ingresos\\ny la dispara de acuerdo al sensor activado.","x":220,"y":480,"wires":[]\},\{"id":"827cba8b.be5738","type":"switch","z":"3d07ac73.25b96c","name":"","property":"parts1","propertyType":"msg","rules":[\{"t":"nempty"\},\{"t":"eq","v":"0","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":100,"wires":[["77dc70d4.5d96d"],["cdc5945e.4b42f"]]\},\{"id":"8bec6063.36d8c8","type":"switch","z":"3d07ac73.25b96c","name":"","property":"parts2","propertyType":"msg","rules":[\{"t":"nempty"\},\{"t":"eq","v":"0","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":140,"wires":[["74f8c8ee.766698"],["d7a007a7.2c5468"]]\},\{"id":"e05c359f.c7634","type":"switch","z":"3d07ac73.25b96c","name":"","property":"parts3","propertyType":"msg","rules":[\{"t":"nempty"\},\{"t":"eq","v":"0","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":180,"wires":[["caa04a96.c14bb8"],["ec3e7748.46b3b8"]]\},\{"id":"77dc70d4.5d96d","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v1","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[[]]\},\{"id":"cdc5945e.4b42f","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v1","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[[]]\},\{"id":"74f8c8ee.766698","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v2","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[[]]\},\{"id":"d7a007a7.2c5468","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v2","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[[]]\},\{"id":"caa04a96.c14bb8","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v3","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[[]]\},\{"id":"ec3e7748.46b3b8","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"v3","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[[]]\},\{"id":"9f260c1b.f10ac8","type":"comment","z":"3d07ac73.25b96c","name":"Funci\'f3n para disparar alarma una vez","info":"","x":750,"y":40,"wires":[]\},\{"id":"c9a7d8d4.c6bd28","type":"switch","z":"f2ca2f9.9239ed","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"abierto","vt":"str"\},\{"t":"eq","v":"cerrado","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["4016cb47.e8c31c"],["e10a3873.c9ceb8"]]\},\{"id":"4016cb47.e8c31c","type":"change","z":"f2ca2f9.9239ed","name":"Abierta","rules":[\{"t":"set","p":"payload","pt":"msg","to":"abierta","tot":"str"\},\{"t":"set","p":"puertaPrincipal","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["17a4265c.13ef2a","3f3177e1.3a2e2"]]\},\{"id":"e10a3873.c9ceb8","type":"change","z":"f2ca2f9.9239ed","name":"Cerrada","rules":[\{"t":"set","p":"payload","pt":"msg","to":"cerrada","tot":"str"\},\{"t":"set","p":"puertaPrincipal","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["17a4265c.13ef2a","230781f8.bdbd56","c2422b23.c22c88"]]\},\{"id":"83a21012.de5558","type":"comment","z":"f2ca2f9.9239ed","name":"Lectura de sensores de movimiento","info":"","x":160,"y":40,"wires":[]\},\{"id":"e5e2d3db.3e44f","type":"comment","z":"f2ca2f9.9239ed","name":"Lectura de sensores de puertas y ventanas","info":"","x":180,"y":240,"wires":[]\},\{"id":"a88364bc.6b3e1","type":"mqtt out","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/puerta","qos":"","retain":"","broker":"2af05930.c47cc6","x":550,"y":100,"wires":[]\},\{"id":"6e6c3ed1.9465c","type":"comment","z":"ceef9e3c.389be","name":"Control de acceso de la puerta principal","info":"Permite controlar el acceso de la puerta principal\\nmediante un sensor RFID conectado al controlador,\\nmismo que informa si el tag es v\'e1lido o no.\\nAdem\'e1s permite abrir la puerta a trav\'e9s del\\nsistema.","x":170,"y":40,"wires":[]\},\{"id":"21c2cf4d.073ca8","type":"comment","z":"41217594.cb53cc","name":"Sala","info":"","x":70,"y":40,"wires":[]\},\{"id":"5c432e14.726578","type":"change","z":"1863c5de.404e9a","name":"Desactivado","rules":[\{"t":"set","p":"alarmaFuera","pt":"global","to":"0","tot":"num"\},\{"t":"set","p":"payload","pt":"msg","to":"\'a1Alarma desactivada!","tot":"str"\},\{"t":"set","p":"alarmaNoche","pt":"global","to":"0","tot":"num"\},\{"t":"set","p":"alarmaCasa","pt":"global","to":"0","tot":"num"\},\{"t":"set","p":"notif2","pt":"global","to":"false","tot":"bool"\},\{"t":"set","p":"alarmadisparada","pt":"global","to":"false","tot":"bool"\},\{"t":"set","p":"alarmaActiva","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["221b82ac.c6f61e","32fa2eae.2a2702","c1e702ce.c792e8","4619e653.dbc828"]]\},\{"id":"a2f18ded.5a8ab","type":"function","z":"1863c5de.404e9a","name":"","func":"accesos = global.get(\\"accesos\\");\\n\\n\\nif(accesos)\{\\n    msg.activar = \\"error\\";\\n\}\\nelse \{\\n    msg.activar = \\"activar\\"\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["df6d7ee7.a8ed28"]]\},\{"id":"df6d7ee7.a8ed28","type":"switch","z":"1863c5de.404e9a","name":"","property":"activar","propertyType":"msg","rules":[\{"t":"eq","v":"activar","vt":"str"\},\{"t":"eq","v":"error","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["b782a6ec.791eb8"],["e0da1639.b4c758"]]\},\{"id":"b782a6ec.791eb8","type":"change","z":"1863c5de.404e9a","name":"Activado","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Alarma en modo casa","tot":"str"\},\{"t":"set","p":"alarmaCasa","pt":"global","to":"1","tot":"num"\},\{"t":"set","p":"alarmaActiva","pt":"global","to":"true","tot":"bool"\},\{"t":"set","p":"alarmaNoche","pt":"global","to":"0","tot":"num"\},\{"t":"set","p":"alarmaFuera","pt":"global","to":"0","tot":"num"\}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":120,"wires":[["221b82ac.c6f61e","4619e653.dbc828"]]\},\{"id":"e0da1639.b4c758","type":"change","z":"1863c5de.404e9a","name":"Error","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Error, tienes alguna puerta o ventana abierta.","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":180,"wires":[["221b82ac.c6f61e"]]\},\{"id":"32fa2eae.2a2702","type":"delay","z":"1863c5de.404e9a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":280,"wires":[["6d5736ca.d7ab28"]]\},\{"id":"6d5736ca.d7ab28","type":"change","z":"1863c5de.404e9a","name":"Limpiar mensaje","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":240,"wires":[["221b82ac.c6f61e"]]\},\{"id":"bff235df.654ec","type":"change","z":"1863c5de.404e9a","name":"Activado","rules":[\{"t":"set","p":"alarmaFuera","pt":"global","to":"1","tot":"num"\},\{"t":"set","p":"payload","pt":"msg","to":"\'a1Alarma en modo fuera!","tot":"str"\},\{"t":"set","p":"alarmaCasa","pt":"global","to":"false","tot":"bool"\},\{"t":"set","p":"alarmaActiva","pt":"global","to":"true","tot":"bool"\},\{"t":"set","p":"alarmaNoche","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["221b82ac.c6f61e","4619e653.dbc828"]]\},\{"id":"b75f25d8.4c6c68","type":"change","z":"1863c5de.404e9a","name":"Activado","rules":[\{"t":"set","p":"payload","pt":"msg","to":"\'a1Alarma en modo noche!","tot":"str"\},\{"t":"set","p":"alarmaNoche","pt":"global","to":"true","tot":"bool"\},\{"t":"set","p":"alarmaActiva","pt":"global","to":"true","tot":"bool"\},\{"t":"set","p":"alarmaFuera","pt":"global","to":"false","tot":"bool"\},\{"t":"set","p":"alarmaCasa","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["221b82ac.c6f61e","4619e653.dbc828"]]\},\{"id":"bd05f172.61bda8","type":"comment","z":"1863c5de.404e9a","name":"Control de alarmas","info":"Permite activar y desactivar los distintos tipos\\nde alarmas.","x":350,"y":60,"wires":[]\},\{"id":"283c811e.f37afe","type":"function","z":"1863c5de.404e9a","name":"","func":"cont = global.get(\\"pin\\");\\npass = global.get(\\"pass\\")\\n\\nmsg.cont = cont;\\n\\nif (cont == pass)\{\\n    msg.payload = true;\\n\}\\nelse \{ \\n    msg.payload = false;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["7467bebf.5c8ba8","ae223778.3579b"]]\},\{"id":"7467bebf.5c8ba8","type":"switch","z":"1863c5de.404e9a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":360,"wires":[["5c432e14.726578"],["f9a20257.07d5"]]\},\{"id":"f9a20257.07d5","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Contrase\'f1a incorrecta","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["221b82ac.c6f61e"]]\},\{"id":"38a1db7e.e088ec","type":"inject","z":"1863c5de.404e9a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["2b207756.a83cf"]]\},\{"id":"2b207756.a83cf","type":"function","z":"1863c5de.404e9a","name":"","func":"var ant = global.get(\\"ant\\")||0;;\\nvar neu = global.get(\\"v1\\")+global.get(\\"v2\\")+global.get(\\"v3\\");\\n\\nmsg.ant = ant;\\nmsg.neu = neu;\\n\\nglobal.set(\\"ant\\",neu)\\n\\nif(ant != neu)\{\\nif (neu == 1) \{\\n    msg.notif = 1;\\n\}\\nelse \{ msg.notif = 0;\\n\}\\n\}\\nelse \{ msg.notif = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":520,"wires":[["64f8c747.255498"]]\},\{"id":"e0d3676b.e5c98","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"alarmadisparada","pt":"global","to":"true","tot":"bool"\},\{"t":"set","p":"notif1","pt":"msg","to":"Activada","tot":"str"\},\{"t":"set","p":"notif2","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":580,"wires":[["9a9d0ffd.955bc8"]]\},\{"id":"64f8c747.255498","type":"switch","z":"1863c5de.404e9a","name":"","property":"notif","propertyType":"msg","rules":[\{"t":"eq","v":"1","vt":"num"\}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":580,"wires":[["e0d3676b.e5c98"]]\},\{"id":"e1eb6c86.947a18","type":"comment","z":"1863c5de.404e9a","name":"Primera notificaci\'f3n","info":"Primera notificaci\'f3n y bloqueo del desactivamiento","x":130,"y":480,"wires":[]\},\{"id":"9a9d0ffd.955bc8","type":"delay","z":"1863c5de.404e9a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":520,"wires":[["939903b9.388db8"]]\},\{"id":"89dc204a.739198","type":"comment","z":"1863c5de.404e9a","name":"Segunda notificaci\'f3n","info":"Si no se introdujo contrase\'f1a, aplicar segunda notificaci\'f3n","x":440,"y":480,"wires":[]\},\{"id":"939903b9.388db8","type":"switch","z":"1863c5de.404e9a","name":"","property":"notif2","propertyType":"global","rules":[\{"t":"true"\}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":580,"wires":[["72b5d19d.3f3188"]]\},\{"id":"72b5d19d.3f3188","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"notif2","pt":"msg","to":"Segunda notificaci\'f3n","tot":"str"\},\{"t":"set","p":"payload","pt":"msg","to":"activar","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["d9a573fb.77487"]]\},\{"id":"1ba30b27.0f6cfd","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"pin","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":360,"wires":[[]]\},\{"id":"ae223778.3579b","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":360,"wires":[["e8060db4.538b98"]]\},\{"id":"76dfd40.229a72c","type":"switch","z":"1863c5de.404e9a","name":"","property":"alarmaActiva","propertyType":"global","rules":[\{"t":"true"\}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["283c811e.f37afe"]]\},\{"id":"df357c63.87a4a","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Contrase\'f1a","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":660,"wires":[["24ad430e.3806d4"]]\},\{"id":"9d2994c1.205e18","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"pass","pt":"global","to":"2279","tot":"num"\}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":60,"wires":[[]]\},\{"id":"1a9eb40a.55eefc","type":"inject","z":"1863c5de.404e9a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":550,"y":60,"wires":[["9d2994c1.205e18"]]\},\{"id":"975d1f24.00b028","type":"function","z":"1863c5de.404e9a","name":"","func":"cont = msg.payload;\\npass = msg.contra;\\n\\nmsg.cont = cont;\\nmsg.pass = pass;\\n\\nif (cont == pass)\{\\n    msg.payload = true;\\n\}\\nelse \{ \\n    msg.payload = false;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["cb2767cb.7d9f7","af534514.265ff8","2a1ec1f7.83c99e"]]\},\{"id":"cb2767cb.7d9f7","type":"switch","z":"1863c5de.404e9a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":800,"wires":[["267962c3.5f84be"],[]]\},\{"id":"af534514.265ff8","type":"debug","z":"1863c5de.404e9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":860,"wires":[]\},\{"id":"2a1ec1f7.83c99e","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"move","p":"pass","pt":"global","to":"contra","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":900,"wires":[["975d1f24.00b028","af534514.265ff8"]]\},\{"id":"6ff68305.62477c","type":"function","z":"1863c5de.404e9a","name":"","func":"\\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1620,"wires":[[]]\},\{"id":"c5c143de.2a0ee","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/escalera/output","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":140,"y":140,"wires":[["b6d5567d.36847"]]\},\{"id":"4bb1831f.9145d4","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzEscalera","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["d558bef9.13f7a8"]]\},\{"id":"894c2828.aa339","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzEscalera\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["b6d5567d.36847"]]\},\{"id":"e192fb4b.c0b868","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/escalera/input","qos":"","retain":"","broker":"2af05930.c47cc6","x":520,"y":140,"wires":[]\},\{"id":"96a9ca10.00d028","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["b6d5567d.36847"]]\},\{"id":"d558bef9.13f7a8","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzEscalera\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":721,"y":138,"wires":[["40cec02e.a8568"]]\},\{"id":"5dbbe564.a9b7f4","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["b6d5567d.36847"]]\},\{"id":"b8da2f75.5310c8","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/sala/output","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":120,"y":340,"wires":[["2eb9daa2.c9f83e"]]\},\{"id":"25f818f.55de2e8","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzSala","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["d3883a14.b82288"]]\},\{"id":"6c7f6d7e.dda734","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzSala\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":420,"wires":[["2eb9daa2.c9f83e"]]\},\{"id":"3b57e14b.068e3e","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/sala/input","qos":"","retain":"","broker":"2af05930.c47cc6","x":500,"y":340,"wires":[]\},\{"id":"24d66026.5428d8","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":430,"wires":[["2eb9daa2.c9f83e"]]\},\{"id":"d3883a14.b82288","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzSala\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":698,"y":340,"wires":[["8a45b654.d64f2"]]\},\{"id":"6b04cfba.85d0d8","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/ba\'f1o/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":120,"y":520,"wires":[["69856287.846054"]]\},\{"id":"80ef7bc3.dbb2f","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzBa\'f1o","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[["efbe07d6.4a584"]]\},\{"id":"302d37ec.45068","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzBa\'f1o\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":600,"wires":[["69856287.846054"]]\},\{"id":"a4a4e9e5.7171e8","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/ba\'f1o/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":510,"y":520,"wires":[]\},\{"id":"3a5144ed.fe092c","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["69856287.846054"]]\},\{"id":"efbe07d6.4a584","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzBa\'f1o\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["9115420b.e6eba"]]\},\{"id":"1f908391.8d9a64","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":80,"wires":[["d558bef9.13f7a8"]]\},\{"id":"6ad4a0af.1c26","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":480,"wires":[["efbe07d6.4a584"]]\},\{"id":"96cd13db.d9dd98","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":640,"wires":[["69856287.846054"]]\},\{"id":"83816286.a5052","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":460,"wires":[["2eb9daa2.c9f83e"]]\},\{"id":"aa8fd129.1d9a","type":"function","z":"ceef9e3c.389be","name":"","func":"if (msg.payload.TargetPosition == 100)\\n\{\\n    msg.payload = \\"abrir\\";\\n\}\\n\\nelse if (msg.payload.TargetPosition == 0)\\n\{\\n    msg.payload = \\"cerrar\\";\\n\}\\n\\n\\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["a88364bc.6b3e1"]]\},\{"id":"4b6d1fef.25d838","type":"function","z":"ceef9e3c.389be","name":"","func":"if (msg.payload)\\n\{\\n    msg.payload = \{TargetPosition: 0\}\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["79a079be.2bc13","87d3b440.ed21e8","429df4c2.53d20c"]]\},\{"id":"a3379741.4cd25","type":"function","z":"ceef9e3c.389be","name":"","func":"\{\\n    msg.payload = \{TargetPosition: 100\}\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":380,"wires":[["79a079be.2bc13","dd313922.0edc5","11069f3.7166461"]]\},\{"id":"4b637119.87f128","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/angeles/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":720,"wires":[["4f9d1b2a.c4ed9c"]]\},\{"id":"2e08fc78.0dcff4","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzAngeles","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":800,"wires":[["d0a9454.ba54738"]]\},\{"id":"3709a803.c28f58","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzAngeles\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["4f9d1b2a.c4ed9c"]]\},\{"id":"c3056106.af4f1","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/angeles/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":520,"y":720,"wires":[]\},\{"id":"2b2b53ee.946f44","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":800,"wires":[["4f9d1b2a.c4ed9c"]]\},\{"id":"d0a9454.ba54738","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzAngeles\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":720,"wires":[["e8ef0c80.a1d9b8"]]\},\{"id":"4c9b064f.745448","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":840,"wires":[["4f9d1b2a.c4ed9c"]]\},\{"id":"afff1996.81cea8","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/montserrat/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":140,"y":920,"wires":[["1b1c38d3.c79957"]]\},\{"id":"4ab64a42.54968c","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzMontserrat","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1000,"wires":[["21cc4d20.932baa"]]\},\{"id":"e30a013d.fd9db","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzMontserrat\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1000,"wires":[["1b1c38d3.c79957"]]\},\{"id":"18e9a7a.9fb5358","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/montserrat/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":530,"y":920,"wires":[]\},\{"id":"c7edf4e5.d9bdc","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1000,"wires":[["1b1c38d3.c79957"]]\},\{"id":"21cc4d20.932baa","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzMontserrat\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":920,"wires":[["7563f400.d1d8b4"]]\},\{"id":"18fb794b.24cea7","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/patio/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":120,"y":1100,"wires":[["ab44a964.89288"]]\},\{"id":"7c4ce25d.53e734","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzPatio","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1180,"wires":[["5ffc788e.d567f"]]\},\{"id":"648542b4.03244c","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzPatio\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1180,"wires":[["ab44a964.89288"]]\},\{"id":"6153263e.f198d","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/patio/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":510,"y":1100,"wires":[]\},\{"id":"2557f1ee.c663ae","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1180,"wires":[["ab44a964.89288"]]\},\{"id":"5ffc788e.d567f","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzPatio\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["305d2867.c23a58"]]\},\{"id":"73a2024b.5b96cc","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":660,"wires":[["d0a9454.ba54738"]]\},\{"id":"513bb5f0.b43aec","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":880,"wires":[["21cc4d20.932baa"]]\},\{"id":"c9af4f61.2c1f3","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1060,"wires":[["5ffc788e.d567f"]]\},\{"id":"6079a235.7d1e6c","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1220,"wires":[["ab44a964.89288"]]\},\{"id":"87cb3f9e.aad59","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1040,"wires":[["1b1c38d3.c79957"]]\},\{"id":"544c8d4e.fedb5c","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/cocina/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":1280,"wires":[["a066b15d.c33158"]]\},\{"id":"19fc53e.c045cac","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzCocina","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1360,"wires":[["41290939.3d8fa8"]]\},\{"id":"56fcfadd.b79ca4","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzCocina\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1360,"wires":[["a066b15d.c33158"]]\},\{"id":"f2be4b28.7dbc1","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/cocina/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":510,"y":1280,"wires":[]\},\{"id":"4042379c.13b778","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1360,"wires":[["a066b15d.c33158"]]\},\{"id":"41290939.3d8fa8","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzCocina\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":1280,"wires":[["358698a8.3937d8"]]\},\{"id":"ad3c9cce.366b6","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1240,"wires":[["41290939.3d8fa8"]]\},\{"id":"f2f7230f.53c76","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1400,"wires":[["a066b15d.c33158"]]\},\{"id":"5de57183.5c3e28","type":"mqtt in","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/puerta","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":120,"y":160,"wires":[["1637bd89.b2f342"]]\},\{"id":"1637bd89.b2f342","type":"switch","z":"ceef9e3c.389be","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"abierta","vt":"str"\},\{"t":"eq","v":"cerrando","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["a3379741.4cd25","4ca38d3a.d2cb94"],["4b6d1fef.25d838"]]\},\{"id":"dd313922.0edc5","type":"change","z":"ceef9e3c.389be","name":"Abierta","rules":[\{"t":"set","p":"payload","pt":"msg","to":"abierta","tot":"str"\},\{"t":"set","p":"puertaprincipal","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["b070c471.3f578"]]\},\{"id":"87d3b440.ed21e8","type":"change","z":"ceef9e3c.389be","name":"Cerrando","rules":[\{"t":"set","p":"payload","pt":"msg","to":"cerrando","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["b070c471.3f578"]]\},\{"id":"69cf9a44.b528d4","type":"change","z":"ceef9e3c.389be","name":"Cerrada","rules":[\{"t":"set","p":"payload","pt":"msg","to":"cerrada","tot":"str"\},\{"t":"set","p":"puertaprincipal","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["b070c471.3f578"]]\},\{"id":"11069f3.7166461","type":"delay","z":"ceef9e3c.389be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":440,"wires":[["9440d84f.8c465"]]\},\{"id":"4bf6793e.d579e","type":"mqtt in","z":"f2ca2f9.9239ed","name":"","topic":"alarma/magnetico/puerta","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":280,"wires":[["c9a7d8d4.c6bd28"]]\},\{"id":"a700eabb.b9058","type":"mqtt in","z":"f2ca2f9.9239ed","name":"","topic":"alarma/movimiento/interior","qos":"2","broker":"2af05930.c47cc6","x":124,"y":85,"wires":[["355a1ef9.15ddaa"]]\},\{"id":"1be6280f.53abd","type":"mqtt in","z":"7994f3f8.163054","name":"","topic":"temperatura","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":140,"y":100,"wires":[["b8397e19.e0e7e","e45d8ba7.311628"]]\},\{"id":"a5f4a09a.5bc0b8","type":"mqtt in","z":"7994f3f8.163054","name":"","topic":"humedad","qos":"2","broker":"2af05930.c47cc6","x":120,"y":160,"wires":[["c33025bd.27ba","85cdadee.b62f2"]]\},\{"id":"f1f4a413.6100d8","type":"mqtt in","z":"7994f3f8.163054","name":"","topic":"sensacion","qos":"2","broker":"2af05930.c47cc6","x":120,"y":200,"wires":[["a9b4221a.f7f368","8c13121e.b92f38"]]\},\{"id":"e45d8ba7.311628","type":"function","z":"7994f3f8.163054","name":"","func":"temp = parseFloat(msg.payload);\\n\\n\\nmsg.payload = \{CurrentTemperature: temp\};\\n\\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["6565d732.df916"]]\},\{"id":"8c13121e.b92f38","type":"function","z":"7994f3f8.163054","name":"","func":"temp = parseFloat(msg.payload);\\n\\n\\nmsg.payload = \{CurrentTemperature: temp\};\\n\\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["866e8188.b1575"]]\},\{"id":"85cdadee.b62f2","type":"function","z":"7994f3f8.163054","name":"","func":"hum = parseFloat(msg.payload);\\n\\n\\nmsg.payload = \{CurrentRelativeHumidity: hum\};\\n\\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["e10272ad.674d08"]]\},\{"id":"4d13a14d.fa7ba8","type":"function","z":"f2ca2f9.9239ed","name":"","func":"movInterior = global.get(\\"movInterno\\") || 0\\n\\nif (movInterior)\\n\{\\n    msg.payload = \{MotionDetected: true\};\\n\}\\nelse\\n\{\\n    msg.payload = \{MotionDetected: false\};\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["94539eb5.ef27d8"]]\},\{"id":"355a1ef9.15ddaa","type":"change","z":"f2ca2f9.9239ed","name":"","rules":[\{"t":"set","p":"movInterno","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]\},\{"id":"3f3177e1.3a2e2","type":"function","z":"f2ca2f9.9239ed","name":"","func":"\\nmsg.payload = \{ContactSensorState: true\};\\n\\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["3f448ab9.57c17e"]]\},\{"id":"230781f8.bdbd56","type":"function","z":"f2ca2f9.9239ed","name":"","func":"\\nmsg.payload = \{ContactSensorState: false\};\\n\\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["3f448ab9.57c17e"]]\},\{"id":"d9a573fb.77487","type":"mqtt out","z":"1863c5de.404e9a","name":"","topic":"alarma/sirena","qos":"","retain":"","broker":"209e682b.6f7b5","x":1140,"y":400,"wires":[]\},\{"id":"c1e702ce.c792e8","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"desactivar","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":340,"wires":[["d9a573fb.77487"]]\},\{"id":"e9035e79.45163","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":300,"wires":[["d3883a14.b82288"]]\},\{"id":"c2422b23.c22c88","type":"debug","z":"f2ca2f9.9239ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":500,"wires":[]\},\{"id":"9440d84f.8c465","type":"function","z":"ceef9e3c.389be","name":"","func":"\{\\n    msg.payload = \{CurrentPosition: 100\}\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["79a079be.2bc13"]]\},\{"id":"429df4c2.53d20c","type":"delay","z":"ceef9e3c.389be","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":440,"wires":[["1644778f.4e2bd"]]\},\{"id":"1644778f.4e2bd","type":"switch","z":"ceef9e3c.389be","name":"","property":"puertaPrincipal","propertyType":"global","rules":[\{"t":"false"\}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":500,"wires":[["75e62880.9cfb78"]]\},\{"id":"75e62880.9cfb78","type":"function","z":"ceef9e3c.389be","name":"","func":"\{\\n    msg.payload = \{CurrentPosition: 0\}\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["69cf9a44.b528d4","79a079be.2bc13","4e1cbe4c.6fdc48"]]\},\{"id":"94fed4e0.b728f","type":"inject","z":"1863c5de.404e9a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":50,"y":40,"wires":[["e6fa460a.0ffb58","109229c2.38a48e"]]\},\{"id":"6073182b.e60cd","type":"change","z":"3d07ac73.25b96c","name":"Movimiento interior","rules":[\{"t":"set","p":"payload","pt":"msg","to":"\'a1Movimiento detectado!","tot":"str"\},\{"t":"set","p":"delete","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["83c96dc.6ea499","907b95d4.e01af"]]\},\{"id":"4619e653.dbc828","type":"change","z":"1863c5de.404e9a","name":"","rules":[\{"t":"set","p":"movInterno","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":340,"wires":[[]]\},\{"id":"c67d35fc.7c6788","type":"inject","z":"f2ca2f9.9239ed","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":200,"wires":[["4d13a14d.fa7ba8","7dacaa1b.c9f76c","5f0a6ad.e9baa14"]]\},\{"id":"6fb66d34.2a1194","type":"function","z":"1863c5de.404e9a","name":"","func":"casa = global.get(\\"alarmaCasa\\")\\nnoche = global.get(\\"alarmaNoche\\")\\nfuera = global.get(\\"alarmaFuera\\")\\nactivada = global.get(\\"alarmaActiva\\")\\n\\nif(casa) msg.payload = \{\\"SecuritySystemCurrentState\\": 0\}\\nelse if(fuera) msg.payload = \{\\"SecuritySystemCurrentState\\": 1\}\\nelse if(noche) msg.payload = \{\\"SecuritySystemCurrentState\\": 2\}\\nif(!activada) msg.payload = \{\\"SecuritySystemCurrentState\\": 3\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["567d4c21.ad0f3c","985f7603.7b05b8"]]\},\{"id":"cb70d67a.a3398","type":"switch","z":"1863c5de.404e9a","name":"","property":"payload.SecuritySystemTargetState","propertyType":"jsonata","rules":[\{"t":"eq","v":"0","vt":"str"\},\{"t":"eq","v":"1","vt":"str"\},\{"t":"eq","v":"2","vt":"str"\},\{"t":"eq","v":"3","vt":"str"\}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":200,"wires":[["a2f18ded.5a8ab"],["9cde305d.eba9e8"],["b75f25d8.4c6c68"],["fdf0fb04.2f15d8"]]\},\{"id":"fdf0fb04.2f15d8","type":"switch","z":"1863c5de.404e9a","name":"","property":"alarmaActiva","propertyType":"global","rules":[\{"t":"true"\}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":260,"wires":[["5c432e14.726578"]]\},\{"id":"e6fa460a.0ffb58","type":"delay","z":"1863c5de.404e9a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":40,"wires":[["6fb66d34.2a1194"]]\},\{"id":"109229c2.38a48e","type":"function","z":"1863c5de.404e9a","name":"","func":"casa = global.get(\\"alarmaCasa\\")\\nnoche = global.get(\\"alarmaNoche\\")\\nfuera = global.get(\\"alarmaFuera\\")\\nactivada = global.get(\\"alarmaActiva\\")\\n\\nif(casa) msg.payload = \{\\"SecuritySystemTargetState\\": 0\}\\nelse if(fuera) msg.payload = \{\\"SecuritySystemTargetState\\": 1\}\\nelse if(noche) msg.payload = \{\\"SecuritySystemTargetState\\": 2\}\\nif(!activada) msg.payload = \{\\"SecuritySystemTargetState\\": 3\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":50,"y":80,"wires":[["567d4c21.ad0f3c"]]\},\{"id":"806d5cfe.dbe75","type":"change","z":"3d07ac73.25b96c","name":"Movimiento interior","rules":[\{"t":"set","p":"payload","pt":"msg","to":"\'a1Movimiento detectado!","tot":"str"\},\{"t":"set","p":"delete","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["83c96dc.6ea499","3efa05b0.553072"]]\},\{"id":"907b95d4.e01af","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"activNoche","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[[]]\},\{"id":"3efa05b0.553072","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"activFuera","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[[]]\},\{"id":"a38e121d.b43d48","type":"change","z":"3d07ac73.25b96c","name":"","rules":[\{"t":"set","p":"activCasa","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":540,"wires":[[]]\},\{"id":"7dacaa1b.c9f76c","type":"function","z":"f2ca2f9.9239ed","name":"Lectura de accesos","func":"puertaPrincipal = global.get(\\"puertaPrincipal\\")\\n\\nif (puertaPrincipal)\\n\{\\n    global.set(\\"accesos\\", true);\\n\}\\nelse\\n\{\\n     global.set(\\"accesos\\", false);\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[[]]\},\{"id":"722c202a.06f9f8","type":"switch","z":"1863c5de.404e9a","name":"","property":"activar","propertyType":"msg","rules":[\{"t":"eq","v":"activar","vt":"str"\},\{"t":"eq","v":"error","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":180,"wires":[["bff235df.654ec"],["e0da1639.b4c758"]]\},\{"id":"9cde305d.eba9e8","type":"function","z":"1863c5de.404e9a","name":"","func":"accesos = global.get(\\"accesos\\");\\n\\n\\nif(accesos)\{\\n    msg.activar = \\"error\\";\}\\nelse \{\\n    msg.activar = \\"activar\\"\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["722c202a.06f9f8"]]\},\{"id":"bbc26640.64fd","type":"inject","z":"3d07ac73.25b96c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":420,"wires":[["6fc514ec.51d184"]]\},\{"id":"6fc514ec.51d184","type":"function","z":"3d07ac73.25b96c","name":"","func":"alarma = global.get(\\"alarmaActiva\\")\\n\\nif (!alarma)\\n\{\\n    msg.payload = \\"\\";\\n    return msg;\\n\}\\n","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["83c96dc.6ea499"]]\},\{"id":"8e5aadad.60be3","type":"debug","z":"3d07ac73.25b96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":120,"y":780,"wires":[]\},\{"id":"4e1cbe4c.6fdc48","type":"debug","z":"ceef9e3c.389be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":580,"wires":[]\},\{"id":"3fd281ed.db21de","type":"inject","z":"ceef9e3c.389be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":700,"wires":[["bcbadc81.1f2c38"]]\},\{"id":"bcbadc81.1f2c38","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"puertaPrincipal","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":720,"wires":[[]]\},\{"id":"5f0a6ad.e9baa14","type":"switch","z":"f2ca2f9.9239ed","name":"","property":"movInterno","propertyType":"global","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":160,"wires":[["8e9e1062.5cf228"],["4b5878a1.7b5d08"]]\},\{"id":"8e9e1062.5cf228","type":"change","z":"f2ca2f9.9239ed","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"activado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["28c95f5e.a0084"]]\},\{"id":"4b5878a1.7b5d08","type":"change","z":"f2ca2f9.9239ed","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["28c95f5e.a0084"]]\},\{"id":"2b336a36.a36546","type":"ui_button","z":"ceef9e3c.389be","name":"","group":"b3e08dde.dc4cc","order":2,"width":0,"height":0,"passthru":false,"label":"Abrir puerta","tooltip":"","color":"","bgcolor":"","icon":"","payload":"abrir","payloadType":"str","topic":"","x":90,"y":100,"wires":[["a88364bc.6b3e1"]]\},\{"id":"db32ebae.076e98","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"4fb15d50.d2783c","order":2,"width":0,"height":0,"passthru":false,"label":"Activar modo fuera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":160,"wires":[["9cde305d.eba9e8"]]\},\{"id":"deb87243.dd5c78","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"4fb15d50.d2783c","order":3,"width":0,"height":0,"passthru":false,"label":"Activar modo casa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":120,"wires":[["a2f18ded.5a8ab"]]\},\{"id":"27233364.f36b5c","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"4fb15d50.d2783c","order":6,"width":0,"height":0,"passthru":true,"label":"Desactivar alarma","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["76dfd40.229a72c"]]\},\{"id":"b75fc717.9de738","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"4fb15d50.d2783c","order":4,"width":0,"height":0,"passthru":false,"label":"Activar modo noche","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":220,"wires":[["b75f25d8.4c6c68"]]\},\{"id":"a0efad9f.7bab2","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"4fb15d50.d2783c","order":7,"width":0,"height":0,"passthru":false,"label":"Cambiar contrase\'f1a","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":660,"wires":[["df357c63.87a4a"]]\},\{"id":"45cde3a7.767784","type":"ui_button","z":"41217594.cb53cc","name":"","group":"2d45f14a.0ee2ee","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":220,"wires":[["894c2828.aa339"]]\},\{"id":"f9a332be.8f4578","type":"ui_button","z":"41217594.cb53cc","name":"","group":"d28b0a60.e77b3","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":420,"wires":[["6c7f6d7e.dda734"]]\},\{"id":"cc5c12a0.b845e8","type":"ui_button","z":"41217594.cb53cc","name":"","group":"826e54f8.8ec2","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":600,"wires":[["302d37ec.45068"]]\},\{"id":"69b7ee6d.1af12","type":"ui_button","z":"41217594.cb53cc","name":"","group":"a2b30886.6a6608","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":800,"wires":[["3709a803.c28f58"]]\},\{"id":"8bed07c8.b99a2","type":"ui_button","z":"41217594.cb53cc","name":"","group":"6f0555dd.2f631c","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1000,"wires":[["e30a013d.fd9db"]]\},\{"id":"a3dcec49.e1b148","type":"ui_button","z":"41217594.cb53cc","name":"","group":"c19d33a8.6c5fb8","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1180,"wires":[["648542b4.03244c"]]\},\{"id":"29d45da8.f6724a","type":"ui_button","z":"41217594.cb53cc","name":"","group":"ebe8c94a.2fbb78","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1360,"wires":[["56fcfadd.b79ca4"]]\},\{"id":"a0a80ec2.cffc28","type":"ui_button","z":"1863c5de.404e9a","name":"","group":"dc81969a.f478c","order":2,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":860,"wires":[["2ced8573.3d1cca"]]\},\{"id":"e52c45ee.fa9158","type":"ui_button","z":"ceef9e3c.389be","name":"","group":"b3e08dde.dc4cc","order":3,"width":0,"height":0,"passthru":false,"label":"Cerrar puerta","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cerrar","payloadType":"str","topic":"","x":90,"y":120,"wires":[["a88364bc.6b3e1"]]\},\{"id":"b6d5567d.36847","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"2d45f14a.0ee2ee","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":140,"wires":[["4bb1831f.9145d4","e192fb4b.c0b868"]]\},\{"id":"2eb9daa2.c9f83e","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"d28b0a60.e77b3","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":340,"wires":[["25f818f.55de2e8","3b57e14b.068e3e"]]\},\{"id":"69856287.846054","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"826e54f8.8ec2","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":520,"wires":[["80ef7bc3.dbb2f","a4a4e9e5.7171e8"]]\},\{"id":"4f9d1b2a.c4ed9c","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"a2b30886.6a6608","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":720,"wires":[["2e08fc78.0dcff4","c3056106.af4f1"]]\},\{"id":"1b1c38d3.c79957","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"6f0555dd.2f631c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":920,"wires":[["4ab64a42.54968c","18e9a7a.9fb5358"]]\},\{"id":"ab44a964.89288","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"c19d33a8.6c5fb8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":1100,"wires":[["7c4ce25d.53e734","6153263e.f198d"]]\},\{"id":"a066b15d.c33158","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"ebe8c94a.2fbb78","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":1280,"wires":[["19fc53e.c045cac","f2be4b28.7dbc1"]]\},\{"id":"e8060db4.538b98","type":"ui_text_input","z":"1863c5de.404e9a","name":"","label":"","tooltip":"","group":"4fb15d50.d2783c","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"10","topic":"","x":130,"y":420,"wires":[["1ba30b27.0f6cfd"]]\},\{"id":"2ced8573.3d1cca","type":"ui_text_input","z":"1863c5de.404e9a","name":"","label":"Ingresa la contrase\'f1a anterior","tooltip":"","group":"dc81969a.f478c","order":1,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":190,"y":780,"wires":[["975d1f24.00b028"]]\},\{"id":"83c96dc.6ea499","type":"ui_text","z":"3d07ac73.25b96c","group":"4fb15d50.d2783c","order":5,"width":0,"height":0,"name":"Notificaci\'f3n alarmas","label":"","format":"\{\{msg.payload\}\}","layout":"col-center","x":780,"y":340,"wires":[]\},\{"id":"17a4265c.13ef2a","type":"ui_text","z":"f2ca2f9.9239ed","group":"cadd57ac.1c65a8","order":2,"width":0,"height":0,"name":"","label":"Puerta principal","format":"\{\{msg.payload\}\}","layout":"row-spread","x":680,"y":260,"wires":[]\},\{"id":"221b82ac.c6f61e","type":"ui_text","z":"1863c5de.404e9a","group":"4fb15d50.d2783c","order":1,"width":0,"height":0,"name":"Activaci\'f3n alarmas","label":"","format":"\{\{msg.payload\}\}","layout":"col-center","x":1010,"y":180,"wires":[]\},\{"id":"b070c471.3f578","type":"ui_text","z":"ceef9e3c.389be","group":"b3e08dde.dc4cc","order":1,"width":0,"height":0,"name":"","label":"Estado","format":"\{\{msg.payload\}\}","layout":"row-spread","x":720,"y":380,"wires":[]\},\{"id":"b8397e19.e0e7e","type":"ui_text","z":"7994f3f8.163054","group":"dd3022ea.1f0a28","order":0,"width":0,"height":0,"name":"","label":"Temperatura: ","format":"\{\{msg.payload\}\}","layout":"row-spread","x":310,"y":100,"wires":[]\},\{"id":"c33025bd.27ba","type":"ui_text","z":"7994f3f8.163054","group":"dd3022ea.1f0a28","order":1,"width":0,"height":0,"name":"","label":"Humedad: ","format":"\{\{msg.payload\}\}","layout":"row-spread","x":300,"y":160,"wires":[]\},\{"id":"a9b4221a.f7f368","type":"ui_text","z":"7994f3f8.163054","group":"dd3022ea.1f0a28","order":2,"width":0,"height":0,"name":"","label":"Sensaci\'f3n t\'e9rmica: ","format":"\{\{msg.payload\}\}","layout":"row-spread","x":290,"y":200,"wires":[]\},\{"id":"28c95f5e.a0084","type":"ui_text","z":"f2ca2f9.9239ed","group":"cadd57ac.1c65a8","order":2,"width":0,"height":0,"name":"","label":"Movimiento interior","format":"\{\{msg.payload\}\}","layout":"row-spread","x":750,"y":160,"wires":[]\},\{"id":"267962c3.5f84be","type":"ui_toast","z":"1863c5de.404e9a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Contrase\'f1a correcta","name":"","x":650,"y":780,"wires":[[]]\},\{"id":"24ad430e.3806d4","type":"ui_ui_control","z":"1863c5de.404e9a","name":"Contrase\'f1a","x":470,"y":660,"wires":[[]]\},\{"id":"40cec02e.a8568","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Escalera","serviceName":"Lightbulb","x":660,"y":180,"wires":[["96a9ca10.00d028"]]\},\{"id":"8a45b654.d64f2","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Sala","serviceName":"Lightbulb","x":650,"y":380,"wires":[["24d66026.5428d8"]]\},\{"id":"9115420b.e6eba","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Ba\'f1o","serviceName":"Lightbulb","x":650,"y":560,"wires":[["3a5144ed.fe092c"]]\},\{"id":"79a079be.2bc13","type":"homekit-service","z":"ceef9e3c.389be","accessory":"502b0fb.898d17","name":"Puerta principal","serviceName":"Door","x":560,"y":240,"wires":[["aa8fd129.1d9a"]]\},\{"id":"e8ef0c80.a1d9b8","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Cuarto de \'c1ngeles","serviceName":"Lightbulb","x":690,"y":760,"wires":[["2b2b53ee.946f44"]]\},\{"id":"7563f400.d1d8b4","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Cuarto de Montserrat","serviceName":"Lightbulb","x":700,"y":960,"wires":[["c7edf4e5.d9bdc"]]\},\{"id":"305d2867.c23a58","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Patio","serviceName":"Lightbulb","x":650,"y":1140,"wires":[["2557f1ee.c663ae"]]\},\{"id":"358698a8.3937d8","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Cocina","serviceName":"Lightbulb","x":660,"y":1320,"wires":[["4042379c.13b778"]]\},\{"id":"e10272ad.674d08","type":"homekit-service","z":"7994f3f8.163054","accessory":"502b0fb.898d17","name":"Humedad","serviceName":"HumiditySensor","x":580,"y":160,"wires":[[]]\},\{"id":"6565d732.df916","type":"homekit-service","z":"7994f3f8.163054","accessory":"502b0fb.898d17","name":"Temperatura","serviceName":"TemperatureSensor","x":590,"y":100,"wires":[[]]\},\{"id":"866e8188.b1575","type":"homekit-service","z":"7994f3f8.163054","accessory":"502b0fb.898d17","name":"Sensaci\'f3n t\'e9rmica","serviceName":"TemperatureSensor","x":610,"y":200,"wires":[[]]\},\{"id":"94539eb5.ef27d8","type":"homekit-service","z":"f2ca2f9.9239ed","accessory":"502b0fb.898d17","name":"Movimiento interior","serviceName":"MotionSensor","x":610,"y":200,"wires":[[]]\},\{"id":"3f448ab9.57c17e","type":"homekit-service","z":"f2ca2f9.9239ed","accessory":"502b0fb.898d17","name":"Puerta 1","serviceName":"ContactSensor","x":480,"y":360,"wires":[[]]\},\{"id":"567d4c21.ad0f3c","type":"homekit-service","z":"1863c5de.404e9a","accessory":"502b0fb.898d17","name":"Alarma","serviceName":"SecuritySystem","x":100,"y":140,"wires":[["cb70d67a.a3398"]]\},\{"id":"b24d4087.82f9c8","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57024","acknoledge":true,"name":"Luz de la escalera","topic":"","x":76.5,"y":266,"wires":[["5dbbe564.a9b7f4"]]\},\{"id":"c362faa4.ff822","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57025","acknoledge":true,"name":"Luz de la sala","topic":"","x":75,"y":456,"wires":[["83816286.a5052"]]\},\{"id":"62ca8246.3c90c4","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57026","acknoledge":true,"name":"Luz del ba\'f1o","topic":"","x":75,"y":640,"wires":[["96cd13db.d9dd98"]]\},\{"id":"9469d4d0.3a9158","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57027","acknoledge":true,"name":"Luz del cuarto de \'c1ngeles","topic":"","x":115,"y":840,"wires":[["4c9b064f.745448"]]\},\{"id":"4edbd1a1.35d7f8","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57028","acknoledge":true,"name":"Luz del cuarto de Montserrat","topic":"","x":125,"y":1039,"wires":[["87cb3f9e.aad59"]]\},\{"id":"693a210.ae0afe","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57029","acknoledge":true,"name":"Luz del patio","topic":"","x":75,"y":1217,"wires":[["6079a235.7d1e6c"]]\},\{"id":"ee8ab60d.05b2d","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57030","acknoledge":true,"name":"Luz de la cocina","topic":"","x":85,"y":1402,"wires":[["f2f7230f.53c76"]]\},\{"id":"5c80666b.4c4308","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"envia","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":188.5,"y":93,"wires":[["574876d0.7a74c","ccfe0b82.6d8c7"]]\},\{"id":"574876d0.7a74c","type":"mqtt out","z":"5c562acb.3b76c4","name":"","topic":"status/sala","qos":"","retain":"","broker":"ccc89d80.33d828","x":388.5,"y":94,"wires":[]\},\{"id":"ccfe0b82.6d8c7","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloSala","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":356.5,"y":155,"wires":[["1cd690c6.6f830f"]]\},\{"id":"fd99deb3.044f48","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"status/sala","qos":"2","broker":"ccc89d80.33d828","x":156.5,"y":207,"wires":[["f518823f.ec9ff"]]\},\{"id":"f518823f.ec9ff","type":"switch","z":"5c562acb.3b76c4","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"conectado","vt":"str"\}],"checkall":"true","repair":false,"outputs":1,"x":294.5,"y":208,"wires":[["b2281cdb.f8f6d8"]]\},\{"id":"b2281cdb.f8f6d8","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloSala","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":478,"y":207,"wires":[[]]\},\{"id":"1cd690c6.6f830f","type":"delay","z":"5c562acb.3b76c4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":551.5,"y":154,"wires":[["dd5d0465.e741d"]]\},\{"id":"dd5d0465.e741d","type":"switch","z":"5c562acb.3b76c4","name":"","property":"moduloSala","propertyType":"global","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":548.5,"y":92,"wires":[["b9b7330b.7c3fe"],["efb79d33.59d038"]]\},\{"id":"b9b7330b.7c3fe","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"conectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":703.5,"y":68,"wires":[["c1bea92d.0cfbf8"]]\},\{"id":"efb79d33.59d038","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"desconectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":98,"wires":[["c1bea92d.0cfbf8"]]\},\{"id":"c1bea92d.0cfbf8","type":"ui_text","z":"5c562acb.3b76c4","group":"40a31c32.169fac","order":0,"width":0,"height":0,"name":"","label":"Estado:","format":"\{\{msg.payload\}\}","layout":"row-spread","x":932.5,"y":67,"wires":[]\},\{"id":"ec1313f8.b1c6d8","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"log/sala","qos":"2","broker":"ccc89d80.33d828","x":152.5,"y":294,"wires":[["6cdfe86d.978498"]]\},\{"id":"6cdfe86d.978498","type":"logger","z":"5c562acb.3b76c4","name":"","filename":"sala.log","maxsize":"5","maxfiles":10,"complete":"payload","console":false,"file":true,"debug":true,"zip":false,"logtype":"info","x":290.5,"y":293,"wires":[]\},\{"id":"e9bed5ed.a7c52","type":"dropbox out","z":"5c562acb.3b76c4","dropbox":"39a9d0b4.f872e","filename":"sala.log","localFilename":"sala.log","name":"Log de la sala","x":640.5,"y":287,"wires":[]\},\{"id":"98f23007.605958","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":292,"wires":[["e9bed5ed.a7c52"]]\},\{"id":"a75dc265.bb59b8","type":"mqtt in","z":"7cd18863.2799a8","name":"","topic":"ipLog/sala","qos":"2","datatype":"auto","broker":"209e682b.6f7b5","x":162.5,"y":139,"wires":[["505748f9.21c0d"]]\},\{"id":"5ff04a3e.b81c0c","type":"mqtt in","z":"7cd18863.2799a8","name":"","topic":"ipLog/cocina","qos":"2","datatype":"auto","broker":"209e682b.6f7b5","x":180,"y":262,"wires":[["ff07a367.6bad8"]]\},\{"id":"3824ff1.b48fe8","type":"ui_text","z":"7cd18863.2799a8","group":"7ee3cfbf.371a8","order":1,"width":0,"height":0,"name":"","label":"Cocina","format":"\{\{msg.payload\}\}","layout":"row-spread","x":700,"y":258,"wires":[]\},\{"id":"505748f9.21c0d","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"ipSala","pt":"global","to":"payload","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":329.5,"y":140,"wires":[["b351718f.879ac8"]]\},\{"id":"ff07a367.6bad8","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"ipCocina","pt":"global","to":"payload","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":260,"wires":[["bbbffcf2.acc7d8"]]\},\{"id":"bbbffcf2.acc7d8","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"ipCocina","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":260,"wires":[["3824ff1.b48fe8"]]\},\{"id":"b351718f.879ac8","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"ipSala","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":513,"y":139,"wires":[["f515578e.75ac5"]]\},\{"id":"f91b00c5.35dc88","type":"inject","z":"7cd18863.2799a8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":363.5,"y":73,"wires":[["b351718f.879ac8","bbbffcf2.acc7d8"]]\},\{"id":"314eff35.089c98","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"envia","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":183,"y":382,"wires":[["a01c4d9e.6dc06","ca232ae9.09f118"]]\},\{"id":"a01c4d9e.6dc06","type":"mqtt out","z":"5c562acb.3b76c4","name":"","topic":"status/cocina","qos":"","retain":"","broker":"ccc89d80.33d828","x":380,"y":383,"wires":[]\},\{"id":"ca232ae9.09f118","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloCocina","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":444,"wires":[["320a1bcf.cda054"]]\},\{"id":"5bbff1d9.51c07","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"status/cocina","qos":"2","datatype":"auto","broker":"ccc89d80.33d828","x":161,"y":496,"wires":[["eef1e94.54f1718"]]\},\{"id":"eef1e94.54f1718","type":"switch","z":"5c562acb.3b76c4","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"conectado","vt":"str"\}],"checkall":"true","repair":false,"outputs":1,"x":289,"y":497,"wires":[["aa0114a7.b1a07"]]\},\{"id":"aa0114a7.b1a07","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloCocina","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":482.5,"y":496,"wires":[[]]\},\{"id":"320a1bcf.cda054","type":"delay","z":"5c562acb.3b76c4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":546,"y":443,"wires":[["26d2420c.608e56"]]\},\{"id":"26d2420c.608e56","type":"switch","z":"5c562acb.3b76c4","name":"","property":"moduloCocina","propertyType":"global","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":543,"y":381,"wires":[["8c7489ed.77b52"],["50d7dd61.e83acc"]]\},\{"id":"8c7489ed.77b52","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"conectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":698,"y":357,"wires":[["ebb1fa31.cea48"]]\},\{"id":"50d7dd61.e83acc","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"desconectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":694.5,"y":387,"wires":[["ebb1fa31.cea48"]]\},\{"id":"ebb1fa31.cea48","type":"ui_text","z":"5c562acb.3b76c4","group":"fa6aef35.c99dc8","order":0,"width":0,"height":0,"name":"","label":"Estado:","format":"\{\{msg.payload\}\}","layout":"row-spread","x":927,"y":356,"wires":[]\},\{"id":"4b12b8d5.e635e8","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"log/cocina","qos":"2","datatype":"auto","broker":"ccc89d80.33d828","x":157,"y":583,"wires":[["ed26b3e5.1f20e"]]\},\{"id":"ed26b3e5.1f20e","type":"logger","z":"5c562acb.3b76c4","name":"","filename":"cocina.log","maxsize":"5","maxfiles":10,"complete":"payload","console":false,"file":true,"debug":true,"zip":false,"logtype":"info","x":285,"y":582,"wires":[]\},\{"id":"2a0ece1.056f032","type":"dropbox out","z":"5c562acb.3b76c4","dropbox":"39a9d0b4.f872e","filename":"cocina.log","localFilename":"cocina.log","name":"Log de la cocina","x":635,"y":576,"wires":[]\},\{"id":"be035b19.920d38","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":464.5,"y":581,"wires":[["2a0ece1.056f032"]]\},\{"id":"b045c322.bd012","type":"mqtt in","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/timbre","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":105,"y":826,"wires":[["5e347d21.6e8494","89e3439.ffcb1c","78b5b932.2806d","2e7fdfe7.b4169","57e406f9.375878"]]\},\{"id":"5e347d21.6e8494","type":"ui_text","z":"ceef9e3c.389be","group":"b3e08dde.dc4cc","order":3,"width":0,"height":0,"name":"","label":"Timbre","format":"\{\{msg.payload\}\}","layout":"row-spread","x":322.5,"y":825,"wires":[]\},\{"id":"89e3439.ffcb1c","type":"delay","z":"ceef9e3c.389be","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":317.5,"y":890,"wires":[["df056192.cbd138"]]\},\{"id":"df056192.cbd138","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":330.5,"y":933,"wires":[["5e347d21.6e8494"]]\},\{"id":"b0f97d43.4e53a","type":"mqtt in","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/rfid","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":95,"y":1033,"wires":[["4db8cd3a.1b94f4"]]\},\{"id":"a357f69c.91d898","type":"ui_text","z":"ceef9e3c.389be","group":"b3e08dde.dc4cc","order":3,"width":0,"height":0,"name":"","label":"Tarjeta RFID","format":"\{\{msg.payload\}\}","layout":"row-spread","x":565,"y":1034,"wires":[]\},\{"id":"6c871104.5761f","type":"delay","z":"ceef9e3c.389be","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1086,"wires":[["a2f6720a.76e95"]]\},\{"id":"a2f6720a.76e95","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1133,"wires":[["a357f69c.91d898"]]\},\{"id":"6ce9295d.48596","type":"mqtt in","z":"7cd18863.2799a8","name":"","topic":"ipLog/accesoPrincipal","qos":"2","datatype":"auto","broker":"209e682b.6f7b5","x":204,"y":350,"wires":[["f6a52898.58f9e8"]]\},\{"id":"d0ab2a80.2386d","type":"ui_text","z":"7cd18863.2799a8","group":"7ee3cfbf.371a8","order":1,"width":0,"height":0,"name":"","label":"Acceso Principal","format":"\{\{msg.payload\}\}","layout":"row-spread","x":724,"y":346,"wires":[]\},\{"id":"f6a52898.58f9e8","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"ipAccesoPrincipal","pt":"global","to":"payload","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":382,"y":348,"wires":[["bbcefc2d.cab65"]]\},\{"id":"bbcefc2d.cab65","type":"change","z":"7cd18863.2799a8","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"ipAccesoPrincipal","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":538,"y":348,"wires":[["d0ab2a80.2386d"]]\},\{"id":"ffe47dff.6507d","type":"ui_button","z":"7cd18863.2799a8","name":"","group":"40a31c32.169fac","order":0,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"#FFFFFF","bgcolor":"#FFFFFF","icon":"","payload":"Servicio","payloadType":"str","topic":"","x":155,"y":437,"wires":[["5ce0c99e.d3492"]]\},\{"id":"5ce0c99e.d3492","type":"ui_ui_control","z":"7cd18863.2799a8","name":"Servicio","x":326,"y":436,"wires":[[]]\},\{"id":"358faa3c.d0d93e","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"envia","payloadType":"str","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":165,"y":714,"wires":[["a1d78fd2.351da","ec0b6a5b.5bd788"]]\},\{"id":"a1d78fd2.351da","type":"mqtt out","z":"5c562acb.3b76c4","name":"","topic":"status/accesoPrincipal","qos":"","retain":"","broker":"ccc89d80.33d828","x":349,"y":715,"wires":[]\},\{"id":"ec0b6a5b.5bd788","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloAccesoPrincipal","pt":"global","to":"false","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":373,"y":776,"wires":[["9b4f7a5.0e31c88"]]\},\{"id":"62d44d94.f5e8dc","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"status/accesoPrincipal","qos":"2","datatype":"auto","broker":"ccc89d80.33d828","x":173,"y":828,"wires":[["820aba76.a7bf7"]]\},\{"id":"820aba76.a7bf7","type":"switch","z":"5c562acb.3b76c4","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"conectado","vt":"str"\}],"checkall":"true","repair":false,"outputs":1,"x":357,"y":828,"wires":[["5c4f6979.596f58"]]\},\{"id":"5c4f6979.596f58","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"moduloAccesoPrincipal","pt":"global","to":"true","tot":"bool"\}],"action":"","property":"","from":"","to":"","reg":false,"x":584.5,"y":830,"wires":[[]]\},\{"id":"9b4f7a5.0e31c88","type":"delay","z":"5c562acb.3b76c4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":775,"wires":[["fa227b56.9017f8"]]\},\{"id":"fa227b56.9017f8","type":"switch","z":"5c562acb.3b76c4","name":"","property":"moduloAccesoPrincipal","propertyType":"global","rules":[\{"t":"true"\},\{"t":"false"\}],"checkall":"true","repair":false,"outputs":2,"x":525,"y":713,"wires":[["5da8891f.162cf8"],["eadf7b8c.47df58"]]\},\{"id":"5da8891f.162cf8","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"conectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":689,"wires":[["fbac8241.38eda"]]\},\{"id":"eadf7b8c.47df58","type":"change","z":"5c562acb.3b76c4","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"desconectado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":676.5,"y":719,"wires":[["fbac8241.38eda"]]\},\{"id":"fbac8241.38eda","type":"ui_text","z":"5c562acb.3b76c4","group":"210502c9.63d50e","order":0,"width":0,"height":0,"name":"","label":"Estado:","format":"\{\{msg.payload\}\}","layout":"row-spread","x":909,"y":688,"wires":[]\},\{"id":"922e2cd.16b295","type":"mqtt in","z":"5c562acb.3b76c4","name":"","topic":"log/accesoPrincipal","qos":"2","datatype":"auto","broker":"ccc89d80.33d828","x":169,"y":915,"wires":[["8856b316.fd053"]]\},\{"id":"8856b316.fd053","type":"logger","z":"5c562acb.3b76c4","name":"","filename":"accesoPrincipal.log","maxsize":"5","maxfiles":10,"complete":"payload","console":false,"file":true,"debug":true,"zip":false,"logtype":"info","x":308,"y":912,"wires":[]\},\{"id":"2925a431.9bece4","type":"dropbox out","z":"5c562acb.3b76c4","dropbox":"39a9d0b4.f872e","filename":"accesoPrincipal.log","localFilename":"accesoPrincipal.log","name":"Log del acceso principal","x":647,"y":908,"wires":[]\},\{"id":"25aeac5f.602744","type":"inject","z":"5c562acb.3b76c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":465.5,"y":907,"wires":[["2925a431.9bece4"]]\},\{"id":"a95489ef.ae5d6","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/pasillo/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":1489,"wires":[["163d78a9.c867c7"]]\},\{"id":"698fb9ba.e5a6f","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzPasillo","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1569,"wires":[["388368e9.595028"]]\},\{"id":"b961d3c1.66a08","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzPasillo\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1569,"wires":[["163d78a9.c867c7"]]\},\{"id":"df4b25a6.4c3208","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/pasillo/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":510,"y":1489,"wires":[]\},\{"id":"b7e136b6.41348","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1569,"wires":[["163d78a9.c867c7"]]\},\{"id":"388368e9.595028","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzPasillo\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":710,"y":1488,"wires":[["aff57c23.68ae18"]]\},\{"id":"e530e764.017548","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1609,"wires":[["163d78a9.c867c7"]]\},\{"id":"30a77677.0ec2fa","type":"ui_button","z":"41217594.cb53cc","name":"","group":"45abed4d.0d6484","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1569,"wires":[["b961d3c1.66a08"]]\},\{"id":"163d78a9.c867c7","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"45abed4d.0d6484","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":1489,"wires":[["698fb9ba.e5a6f","df4b25a6.4c3208"]]\},\{"id":"aff57c23.68ae18","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Pasillo","serviceName":"Lightbulb","x":650,"y":1529,"wires":[["b7e136b6.41348"]]\},\{"id":"bb3b3798.e79d78","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57031","acknoledge":true,"name":"Luz del pasillo","topic":"","x":75,"y":1611,"wires":[["e530e764.017548"]]\},\{"id":"41ee353.a9e24cc","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1449,"wires":[["388368e9.595028"]]\},\{"id":"b140d116.d41a","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/emanuel/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":1688,"wires":[["c4100366.a337c8"]]\},\{"id":"433fe661.df5fc","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzEmanuel","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1768,"wires":[["fc2d7f80.1626c"]]\},\{"id":"2c1a4d94.025de2","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzEmanuel\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1768,"wires":[["c4100366.a337c8"]]\},\{"id":"2da5a769.3fbc3","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/emanuel/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":520,"y":1688,"wires":[]\},\{"id":"48637eaf.0c7d18","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1768,"wires":[["c4100366.a337c8"]]\},\{"id":"fc2d7f80.1626c","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzEmanuel\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":1688,"wires":[["9353c539.f02778"]]\},\{"id":"31577576.15bdea","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1808,"wires":[["c4100366.a337c8"]]\},\{"id":"2fe2bba5.f467bc","type":"ui_button","z":"41217594.cb53cc","name":"","group":"e33939b.57a6748","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1768,"wires":[["2c1a4d94.025de2"]]\},\{"id":"c4100366.a337c8","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"e33939b.57a6748","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":1688,"wires":[["433fe661.df5fc","2da5a769.3fbc3"]]\},\{"id":"9353c539.f02778","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Cuarto de Emanuel","serviceName":"Lightbulb","x":690,"y":1728,"wires":[["48637eaf.0c7d18"]]\},\{"id":"b0c8ebc2.e086c8","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57032","acknoledge":true,"name":"Luz del cuarto de Emanuel","topic":"","x":115,"y":1810,"wires":[["31577576.15bdea"]]\},\{"id":"6373115.d9a21f","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1648,"wires":[["fc2d7f80.1626c"]]\},\{"id":"22137e17.4fdf02","type":"mqtt in","z":"41217594.cb53cc","name":"","topic":"iluminacion/balcon/input","qos":"2","datatype":"auto","broker":"2af05930.c47cc6","x":130,"y":1882,"wires":[["7b9ffedb.051c8"]]\},\{"id":"fa2626d5.591ba8","type":"change","z":"41217594.cb53cc","name":"","rules":[\{"t":"move","p":"payload","pt":"msg","to":"luzBalcon","tot":"global"\}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1962,"wires":[["aabb4e41.8137d8"]]\},\{"id":"f37f4e56.db38c","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzBalcon\\")\\nif(regulador == 0) \{\\n    msg.payload = 100;\\n\}\\nelse \{ \\n    msg.payload = 0;\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1962,"wires":[["7b9ffedb.051c8"]]\},\{"id":"834f4944.546f08","type":"mqtt out","z":"41217594.cb53cc","name":"","topic":"iluminacion/balcon/output","qos":"","retain":"","broker":"2af05930.c47cc6","x":510,"y":1882,"wires":[]\},\{"id":"328cc362.a3df94","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload.Brightness)\{msg.payload = msg.payload.Brightness\}\\nelse if (msg.payload.On) \{msg.payload = 100;\}\\nelse if (!msg.payload.On) \{msg.payload = 0;\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1962,"wires":[["7b9ffedb.051c8"]]\},\{"id":"aabb4e41.8137d8","type":"function","z":"41217594.cb53cc","name":"","func":"regulador = global.get(\\"luzBalcon\\")\\n\\nif (!regulador) \{\\n    msg.payload = \{On: false\};\\n\}\\nelse\\n\{\\n    msg.payload = \{On: true, Brightness: regulador.toString()\}\\n\}\\nreturn msg;\\n","outputs":1,"noerr":0,"x":650,"y":1882,"wires":[["cc7583d1.fc06f"]]\},\{"id":"69f8dc90.8c02cc","type":"function","z":"41217594.cb53cc","name":"","func":"if (msg.payload > 1 && msg.payload < 100) \{msg.payload=msg.payload\}\\nelse if (!msg.payload) \{msg.payload = 0\}\\nelse if (msg.payload) \{msg.payload = 100\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":2002,"wires":[["7b9ffedb.051c8"]]\},\{"id":"9ebff019.2f3e48","type":"ui_button","z":"41217594.cb53cc","name":"","group":"c123c79d.efea78","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":1962,"wires":[["f37f4e56.db38c"]]\},\{"id":"7b9ffedb.051c8","type":"ui_slider","z":"41217594.cb53cc","name":"","label":"","tooltip":"","group":"c123c79d.efea78","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":310,"y":1882,"wires":[["fa2626d5.591ba8","834f4944.546f08"]]\},\{"id":"cc7583d1.fc06f","type":"homekit-service","z":"41217594.cb53cc","accessory":"502b0fb.898d17","name":"Balc\'f3n","serviceName":"Lightbulb","x":660,"y":1922,"wires":[["328cc362.a3df94"]]\},\{"id":"56eef3.f694e10c","type":"alexa-home","z":"41217594.cb53cc","conf":"f8995778.50fcb","device":"57033","acknoledge":true,"name":"Luz del balc\'f3n","topic":"","x":85,"y":2004,"wires":[["69f8dc90.8c02cc"]]\},\{"id":"1b11770b.8a4af9","type":"inject","z":"41217594.cb53cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1842,"wires":[["aabb4e41.8137d8"]]\},\{"id":"9f886a6.c689618","type":"ui_button","z":"7cd18863.2799a8","name":"","group":"210502c9.63d50e","order":0,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"#FFFFFF","bgcolor":"#FFFFFF","icon":"","payload":"Servicio","payloadType":"str","topic":"","x":156,"y":485,"wires":[[]]\},\{"id":"3e57b3dd.80bd0c","type":"ui_button","z":"7cd18863.2799a8","name":"","group":"fa6aef35.c99dc8","order":0,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"#FFFFFF","bgcolor":"#FFFFFF","icon":"","payload":"Servicio","payloadType":"str","topic":"","x":159,"y":535,"wires":[[]]\},\{"id":"985f7603.7b05b8","type":"debug","z":"1863c5de.404e9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":100.5,"y":261,"wires":[]\},\{"id":"4db8cd3a.1b94f4","type":"switch","z":"ceef9e3c.389be","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"reconocida","vt":"str"\},\{"t":"eq","v":"desconocida","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":260.5,"y":1033,"wires":[["a357f69c.91d898","6c871104.5761f"],["a357f69c.91d898","6c871104.5761f"]]\},\{"id":"b78de925.c0d688","type":"ui_button","z":"ceef9e3c.389be","name":"","group":"dec574fe.bab8f","order":0,"width":0,"height":0,"passthru":false,"label":"A\'f1adir","tooltip":"","color":"","bgcolor":"","icon":"","payload":"agregarLlavero","payloadType":"str","topic":"","x":153.5,"y":1339,"wires":[["6252b513.edcaec"]]\},\{"id":"94307488.465e78","type":"ui_text","z":"ceef9e3c.389be","group":"dec574fe.bab8f","order":2,"width":0,"height":0,"name":"","label":"","format":"\{\{msg.payload\}\}","layout":"row-spread","x":678.5,"y":1588,"wires":[]\},\{"id":"6252b513.edcaec","type":"mqtt out","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/rfid","qos":"","retain":"","broker":"da11b9d.a4600c8","x":332.5,"y":1339,"wires":[]\},\{"id":"e73c72fb.fa3ec8","type":"ui_button","z":"ceef9e3c.389be","name":"","group":"dec574fe.bab8f","order":0,"width":0,"height":0,"passthru":false,"label":"Borrar todos","tooltip":"","color":"","bgcolor":"","icon":"","payload":"limpiarLlaveros","payloadType":"str","topic":"","x":151,"y":1381,"wires":[["6252b513.edcaec"]]\},\{"id":"a5ff0489.f15eb","type":"mqtt in","z":"ceef9e3c.389be","name":"","topic":"accesoPrincipal/rfid","qos":"2","datatype":"auto","broker":"da11b9d.a4600c8","x":198.5,"y":1589,"wires":[["4b79eab8.7af424"]]\},\{"id":"4b79eab8.7af424","type":"switch","z":"ceef9e3c.389be","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"eq","v":"llavero","vt":"str"\},\{"t":"eq","v":"llavero2","vt":"str"\},\{"t":"eq","v":"agregado","vt":"str"\},\{"t":"eq","v":"error","vt":"str"\},\{"t":"eq","v":"memLlena","vt":"str"\},\{"t":"eq","v":"existente","vt":"str"\},\{"t":"eq","v":"borrados","vt":"str"\}],"checkall":"true","repair":false,"outputs":7,"x":366.5,"y":1593,"wires":[["2c403344.bce674"],["c3a1c2cb.c4e418"],["32428d63.43fe6a"],["fdaa9ca4.ed53c"],["6e1d9bb2.59e8a4"],["3443fd5.002fd82"],["e80d4c75.c7a35"]]\},\{"id":"2c403344.bce674","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Acerca tu llavero al lector RFID","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":528.5,"y":1545,"wires":[["94307488.465e78"]]\},\{"id":"c3a1c2cb.c4e418","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Acerca nuevamente el mismo llavero","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":529,"y":1577,"wires":[["94307488.465e78"]]\},\{"id":"32428d63.43fe6a","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Tu llavero ha sido a\'f1adido","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1609,"wires":[["94307488.465e78"]]\},\{"id":"fdaa9ca4.ed53c","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Error al a\'f1adir tu llavero","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":529,"y":1638,"wires":[["94307488.465e78"]]\},\{"id":"6e1d9bb2.59e8a4","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"No puedes a\'f1adir m\'e1s llaveros","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":531,"y":1664,"wires":[["94307488.465e78"]]\},\{"id":"3443fd5.002fd82","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Este llavero ya estaba registrado","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":533,"y":1694,"wires":[["94307488.465e78"]]\},\{"id":"e80d4c75.c7a35","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"Limpieza de llaveros exitosa","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":1729,"wires":[["94307488.465e78"]]\},\{"id":"ddd5ba30.fee5f","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":1781,"wires":[["94307488.465e78"]]\},\{"id":"45272bf3.a26f5c","type":"alexa-home","z":"ceef9e3c.389be","conf":"f8995778.50fcb","device":"58298","acknoledge":true,"name":"Puerta principal","topic":"","x":110.5,"y":236,"wires":[["fb3f6c0e.ba5ef8"]]\},\{"id":"fb3f6c0e.ba5ef8","type":"change","z":"ceef9e3c.389be","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"abrir","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":224.5,"y":201,"wires":[["a88364bc.6b3e1"]]\},\{"id":"ea04ad06.d9d37","type":"homekit-service","z":"ceef9e3c.389be","accessory":"3b3efe0e.753a82","name":"","serviceName":"MotionSensor","x":414.5,"y":977,"wires":[[]]\},\{"id":"78b5b932.2806d","type":"function","z":"ceef9e3c.389be","name":"","func":"\\n    msg.payload = \{MotionDetected: true\};\\n\\n\\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":942,"wires":[["ea04ad06.d9d37"]]\},\{"id":"2e7fdfe7.b4169","type":"delay","z":"ceef9e3c.389be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":87.5,"y":979,"wires":[["4ca38d3a.d2cb94"]]\},\{"id":"4ca38d3a.d2cb94","type":"function","z":"ceef9e3c.389be","name":"","func":"\\n    msg.payload = \{MotionDetected: false\};\\n\\n\\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":978,"wires":[["ea04ad06.d9d37"]]\},\{"id":"57e406f9.375878","type":"pushbullet","z":"ceef9e3c.389be","config":"4c8d56cc.e56a08","pushtype":"note","title":"Timbre","chan":"","name":"Timbre","x":620.5,"y":937,"wires":[]\},\{"id":"f515578e.75ac5","type":"ui_text","z":"7cd18863.2799a8","group":"7ee3cfbf.371a8","order":1,"width":0,"height":0,"name":"","label":"Sala","format":"\{\{msg.payload\}\}","layout":"row-spread","x":674.5,"y":139,"wires":[]\}]}